In [110]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
df=pd.read_csv('healthcare-dataset-stroke-data.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
df.drop('id',axis='columns',inplace=True)

In [5]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [6]:
df['gender'].replace({"Female":1,"Male":0},inplace=True)

In [7]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,1,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,0,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,1,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [8]:
df['ever_married'].replace({"Yes":1,"No":0},inplace=True)

In [9]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,67.0,0,1,1,Private,Urban,228.69,36.6,formerly smoked,1
1,1,61.0,0,0,1,Self-employed,Rural,202.21,NaN,never smoked,1
2,0,80.0,0,1,1,Private,Rural,105.92,32.5,never smoked,1
3,1,49.0,0,0,1,Private,Urban,171.23,34.4,smokes,1
4,1,79.0,1,0,1,Self-employed,Rural,174.12,24.0,never smoked,1

In [10]:
df['work_type'].unique()

array(['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'],
      dtype=object)

In [11]:
df['smoking_status'].unique()

array(['formerly smoked', 'never smoked', 'smokes', 'Unknown'],
      dtype=object)

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [13]:
cols_to_scale=['age','avg_glucose_level']

In [15]:
df[cols_to_scale]=scaler.fit_transform(df[cols_to_scale])

In [16]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,0.816895,0,1,1,Private,Urban,0.801265,36.6,formerly smoked,1
1,1,0.743652,0,0,1,Self-employed,Rural,0.679023,NaN,never smoked,1
2,0,0.975586,0,1,1,Private,Rural,0.234512,32.5,never smoked,1
3,1,0.597168,0,0,1,Private,Urban,0.536008,34.4,smokes,1
4,1,0.963379,1,0,1,Self-employed,Rural,0.549349,24.0,never smoked,1

In [75]:
df.isnull().sum()

gender                            0
age                               0
hypertension                      0
heart_disease                     0
ever_married                      0
Residence_type                    0
avg_glucose_level                 0
bmi                               0
stroke                            0
work_type_Govt_job                0
work_type_Never_worked            0
work_type_Private                 0
work_type_Self-employed           0
work_type_children                0
smoking_status_Unknown            0
smoking_status_formerly smoked    0
smoking_status_never smoked       0
smoking_status_smokes             0
dtype: int64

In [22]:
df.shape

(5110, 11)

In [36]:
df['bmi'].isnull().sum()

201

In [39]:
df=df.dropna()

In [40]:
df.shape

(4909, 11)

In [41]:
df['Residence_type'].replace({'Urban':1,'Rural':0},inplace=True)

C:\Users\avish\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [42]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,0.816895,0,1,1,Private,1,0.801265,36.6,formerly smoked,1
2,0,0.975586,0,1,1,Private,0,0.234512,32.5,never smoked,1
3,1,0.597168,0,0,1,Private,1,0.536008,34.4,smokes,1
4,1,0.963379,1,0,1,Self-employed,0,0.549349,24.0,never smoked,1
5,0,0.987793,0,0,1,Private,1,0.605161,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,1,0.157715,0,0,0,children,0,0.221402,18.6,Unknown,0
5106,1,0.987793,0,0,1,Self-employed,1,0.323516,40.0,never smoked,0
5107,1,0.426270,0,0,1,Self-employed,0,0.128658,30.6,never smoked,0
5108,0,0.621582,0,0,1,Private,0,0.513203,25.6,formerly smoked,0
5109,1,0.536133,0,0,1,Govt_job,1,0.139230,26.2,Unknown,0

In [44]:
df=pd.get_dummies(data=df,columns=['work_type',"smoking_status"])

In [45]:
df

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0,0.816895,0,1,1,1,0.801265,36.6,1,0,0,1,0,0,0,1,0,0
2,0,0.975586,0,1,1,0,0.234512,32.5,1,0,0,1,0,0,0,0,1,0
3,1,0.597168,0,0,1,1,0.536008,34.4,1,0,0,1,0,0,0,0,0,1
4,1,0.963379,1,0,1,0,0.549349,24.0,1,0,0,0,1,0,0,0,1,0
5,0,0.987793,0,0,1,1,0.605161,29.0,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,1,0.157715,0,0,0,0,0.221402,18.6,0,0,0,0,0,1,1,0,0,0
5106,1,0.987793,0,0,1,1,0.323516,40.0,0,0,0,0,1,0,0,0,1,0
5107,1,0.426270,0,0,1,0,0.128658,30.6,0,0,0,0,1,0,0,0,1,0
5108,0,0.621582,0,0,1,0,0.513203,25.6,0,0,0,1,0,0,0,1,0,0
5109,1,0.536133,0,0,1,1,0.139230,26.2,0,1,0,0,0,0,1,0,0,0

In [46]:
bmi=['bmi']

In [48]:
df[bmi]=scaler.fit_transform(df[bmi])

In [49]:
df

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0,0.816895,0,1,1,1,0.801265,0.301260,1,0,0,1,0,0,0,1,0,0
2,0,0.975586,0,1,1,0,0.234512,0.254296,1,0,0,1,0,0,0,0,1,0
3,1,0.597168,0,0,1,1,0.536008,0.276060,1,0,0,1,0,0,0,0,0,1
4,1,0.963379,1,0,1,0,0.549349,0.156930,1,0,0,0,1,0,0,0,1,0
5,0,0.987793,0,0,1,1,0.605161,0.214204,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,1,0.157715,0,0,0,0,0.221402,0.095074,0,0,0,0,0,1,1,0,0,0
5106,1,0.987793,0,0,1,1,0.323516,0.340206,0,0,0,0,1,0,0,0,1,0
5107,1,0.426270,0,0,1,0,0.128658,0.232532,0,0,0,0,1,0,0,0,1,0
5108,0,0.621582,0,0,1,0,0.513203,0.175258,0,0,0,1,0,0,0,1,0,0
5109,1,0.536133,0,0,1,1,0.139230,0.182131,0,1,0,0,0,0,1,0,0,0

In [111]:
X=df.drop('stroke',axis='columns')
y=df['stroke']
y
X.shape

(4909, 17)

In [112]:
from sklearn.model_selection import train_test_split

In [113]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

In [114]:
df.shape

(4909, 18)

In [115]:
import tensorflow as tf
from tensorflow import keras

In [120]:
model=keras.Sequential([
    keras.layers.Dense(10,input_shape=(17,),activation='relu'),
    keras.layers.Dense(5,activation='relu'),
   
    keras.layers.Dense(1,activation='sigmoid')
])

In [121]:
model.compile(optimizer=keras.optimizers.Adam(),
             loss='binary_crossentropy',
             metrics=['accuracy'])

In [122]:
model.fit(X_train,y_train,epochs=100)

Epoch 1/100
3289/3289 [==============================] - 0s 79us/sample - loss: 0.3469 - acc: 0.9097
Epoch 2/100
3289/3289 [==============================] - 0s 40us/sample - loss: 0.1915 - acc: 0.9608
Epoch 3/100
3289/3289 [==============================] - 0s 44us/sample - loss: 0.1780 - acc: 0.9608
Epoch 4/100
3289/3289 [==============================] - 0s 42us/sample - loss: 0.1698 - acc: 0.9608
Epoch 5/100
3289/3289 [==============================] - 0s 48us/sample - loss: 0.1644 - acc: 0.9608
Epoch 6/100
3289/3289 [==============================] - 0s 46us/sample - loss: 0.1600 - acc: 0.9608
Epoch 7/100
3289/3289 [==============================] - 0s 37us/sample - loss: 0.1562 - acc: 0.9608
Epoch 8/100
3289/3289 [==============================] - 0s 38us/sample - loss: 0.1530 - acc: 0.9608
Epoch 9/100
3289/3289 [==============================] - 0s 35us/sample - loss: 0.1507 - acc: 0.9608
Epoch 10/100
3289/3289 [==============================] - 0s 34us/sample - loss: 0.1486 - acc: 0.9608
Epoch 11/100
3289/3289 [==============================] - 0s 31us/sample - loss: 0.1472 - acc: 0.9608
Epoch 12/100
3289/3289 [==============================] - 0s 26us/sample - loss: 0.1466 - acc: 0.9608
Epoch 13/100
3289/3289 [==============================] - 0s 29us/sample - loss: 0.1454 - acc: 0.9608
Epoch 14/100
3289/3289 [==============================] - 0s 38us/sample - loss: 0.1439 - acc: 0.9608
Epoch 15/100
3289/3289 [==============================] - 0s 42us/sample - loss: 0.1431 - acc: 0.9608
Epoch 16/100
3289/3289 [==============================] - 0s 42us/sample - loss: 0.1422 - acc: 0.9608
Epoch 17/100
3289/3289 [==============================] - 0s 44us/sample - loss: 0.1418 - acc: 0.9608
Epoch 18/100
3289/3289 [==============================] - 0s 39us/sample - loss: 0.1406 - acc: 0.9608
Epoch 19/100
3289/3289 [==============================] - 0s 40us/sample - loss: 0.1405 - acc: 0.9608
Epoch 20/100
3289/3289 [==============================] - 0s 39us/sample - loss: 0.1395 - acc: 0.9611
Epoch 21/100
3289/3289 [==============================] - 0s 67us/sample - loss: 0.1386 - acc: 0.9608
Epoch 22/100
3289/3289 [==============================] - 0s 48us/sample - loss: 0.1380 - acc: 0.9608
Epoch 23/100
3289/3289 [==============================] - 0s 38us/sample - loss: 0.1377 - acc: 0.9611
Epoch 24/100
3289/3289 [==============================] - 0s 37us/sample - loss: 0.1367 - acc: 0.9611
Epoch 25/100
3289/3289 [==============================] - 0s 42us/sample - loss: 0.1366 - acc: 0.9608
Epoch 26/100
3289/3289 [==============================] - 0s 41us/sample - loss: 0.1358 - acc: 0.9608
Epoch 27/100
3289/3289 [==============================] - 0s 35us/sample - loss: 0.1356 - acc: 0.9611
Epoch 28/100
3289/3289 [==============================] - 0s 36us/sample - loss: 0.1348 - acc: 0.9611
Epoch 29/100
3289/3289 [==============================] - 0s 46us/sample - loss: 0.1343 - acc: 0.9608
Epoch 30/100
3289/3289 [==============================] - 0s 60us/sample - loss: 0.1344 - acc: 0.9611
Epoch 31/100
3289/3289 [==============================] - 0s 55us/sample - loss: 0.1340 - acc: 0.9608
Epoch 32/100
3289/3289 [==============================] - 0s 43us/sample - loss: 0.1332 - acc: 0.9611
Epoch 33/100
3289/3289 [==============================] - 0s 37us/sample - loss: 0.1328 - acc: 0.9611
Epoch 34/100
3289/3289 [==============================] - 0s 74us/sample - loss: 0.1325 - acc: 0.9611
Epoch 35/100
3289/3289 [==============================] - 0s 62us/sample - loss: 0.1321 - acc: 0.9611
Epoch 36/100
3289/3289 [==============================] - 0s 43us/sample - loss: 0.1316 - acc: 0.9611
Epoch 37/100
3289/3289 [==============================] - 0s 34us/sample - loss: 0.1322 - acc: 0.9611
Epoch 38/100
3289/3289 [==============================] - 0s 32us/sample - loss: 0.1313 - acc: 0.9611
Epoch 39/100
3289/3289 [==============================] - 0s 28us/sample - loss: 0.1312 - acc: 0.9611
Epoch 40/100
3289/3289 [==============================] - 0s 27us/sample - loss: 0.1311 - acc: 0.9611
Epoch 41/100
3289/3289 [==============================] - 0s 34us/sample - loss: 0.1309 - acc: 0.9611
Epoch 42/100
3289/3289 [==============================] - 0s 38us/sample - loss: 0.1303 - acc: 0.9611
Epoch 43/100
3289/3289 [==============================] - 0s 52us/sample - loss: 0.1300 - acc: 0.9611
Epoch 44/100
3289/3289 [==============================] - 0s 58us/sample - loss: 0.1301 - acc: 0.9611
Epoch 45/100
3289/3289 [==============================] - 0s 39us/sample - loss: 0.1296 - acc: 0.9611
Epoch 46/100
3289/3289 [==============================] - 0s 41us/sample - loss: 0.1290 - acc: 0.9611
Epoch 47/100
3289/3289 [==============================] - 0s 38us/sample - loss: 0.1294 - acc: 0.9611
Epoch 48/100
3289/3289 [==============================] - 0s 60us/sample - loss: 0.1290 - acc: 0.9611
Epoch 49/100
3289/3289 [==============================] - 0s 47us/sample - loss: 0.1288 - acc: 0.9611
Epoch 50/100
3289/3289 [==============================] - 0s 40us/sample - loss: 0.1290 - acc: 0.9611
Epoch 51/100
3289/3289 [==============================] - 0s 37us/sample - loss: 0.1283 - acc: 0.9611
Epoch 52/100
3289/3289 [==============================] - 0s 58us/sample - loss: 0.1279 - acc: 0.9611
Epoch 53/100
3289/3289 [==============================] - 0s 43us/sample - loss: 0.1283 - acc: 0.9611
Epoch 54/100
3289/3289 [==============================] - 0s 51us/sample - loss: 0.1273 - acc: 0.9611
Epoch 55/100
3289/3289 [==============================] - 0s 53us/sample - loss: 0.1272 - acc: 0.9611
Epoch 56/100
3289/3289 [==============================] - 0s 50us/sample - loss: 0.1270 - acc: 0.9608
Epoch 57/100
3289/3289 [==============================] - 0s 35us/sample - loss: 0.1274 - acc: 0.9611
Epoch 58/100
3289/3289 [==============================] - 0s 35us/sample - loss: 0.1266 - acc: 0.9611
Epoch 59/100
3289/3289 [==============================] - 0s 33us/sample - loss: 0.1266 - acc: 0.9611
Epoch 60/100
3289/3289 [==============================] - 0s 46us/sample - loss: 0.1266 - acc: 0.9611
Epoch 61/100
3289/3289 [==============================] - 0s 35us/sample - loss: 0.1264 - acc: 0.9614
Epoch 62/100
3289/3289 [==============================] - 0s 34us/sample - loss: 0.1264 - acc: 0.9614
Epoch 63/100
3289/3289 [==============================] - 0s 53us/sample - loss: 0.1259 - acc: 0.9611
Epoch 64/100
3289/3289 [==============================] - 0s 69us/sample - loss: 0.1258 - acc: 0.9614
Epoch 65/100
3289/3289 [==============================] - 0s 49us/sample - loss: 0.1259 - acc: 0.9614
Epoch 66/100
3289/3289 [==============================] - 0s 31us/sample - loss: 0.1262 - acc: 0.9614
Epoch 67/100
3289/3289 [==============================] - 0s 36us/sample - loss: 0.1255 - acc: 0.9614
Epoch 68/100
3289/3289 [==============================] - 0s 69us/sample - loss: 0.1254 - acc: 0.9617
Epoch 69/100
3289/3289 [==============================] - 0s 65us/sample - loss: 0.1254 - acc: 0.9617
Epoch 70/100
3289/3289 [==============================] - 0s 42us/sample - loss: 0.1259 - acc: 0.9614
Epoch 71/100
3289/3289 [==============================] - 0s 41us/sample - loss: 0.1250 - acc: 0.9617
Epoch 72/100
3289/3289 [==============================] - 0s 59us/sample - loss: 0.1248 - acc: 0.9614
Epoch 73/100
3289/3289 [==============================] - 0s 30us/sample - loss: 0.1252 - acc: 0.9617
Epoch 74/100
3289/3289 [==============================] - 0s 28us/sample - loss: 0.1252 - acc: 0.9617
Epoch 75/100
3289/3289 [==============================] - 0s 43us/sample - loss: 0.1244 - acc: 0.9614
Epoch 76/100
3289/3289 [==============================] - 0s 72us/sample - loss: 0.1245 - acc: 0.9620
Epoch 77/100
3289/3289 [==============================] - 0s 46us/sample - loss: 0.1249 - acc: 0.9614
Epoch 78/100
3289/3289 [==============================] - 0s 30us/sample - loss: 0.1247 - acc: 0.9617
Epoch 79/100
3289/3289 [==============================] - 0s 27us/sample - loss: 0.1246 - acc: 0.9617
Epoch 80/100
3289/3289 [==============================] - 0s 26us/sample - loss: 0.1243 - acc: 0.9620
Epoch 81/100

3289/3289 [==============================] - 0s 26us/sample - loss: 0.1238 - acc: 0.9620
Epoch 82/100
3289/3289 [==============================] - 0s 58us/sample - loss: 0.1238 - acc: 0.9626
Epoch 83/100
3289/3289 [==============================] - 0s 57us/sample - loss: 0.1240 - acc: 0.9620
Epoch 84/100
3289/3289 [==============================] - 0s 34us/sample - loss: 0.1234 - acc: 0.9626
Epoch 85/100
3289/3289 [==============================] - 0s 35us/sample - loss: 0.1242 - acc: 0.9626
Epoch 86/100
3289/3289 [==============================] - 0s 35us/sample - loss: 0.1235 - acc: 0.9620
Epoch 87/100
3289/3289 [==============================] - 0s 38us/sample - loss: 0.1235 - acc: 0.9623
Epoch 88/100
3289/3289 [==============================] - 0s 37us/sample - loss: 0.1233 - acc: 0.9623
Epoch 89/100
3289/3289 [==============================] - 0s 33us/sample - loss: 0.1232 - acc: 0.9626
Epoch 90/100
3289/3289 [==============================] - 0s 35us/sample - loss: 0.1225 - acc: 0.9626
Epoch 91/100
3289/3289 [==============================] - 0s 40us/sample - loss: 0.1231 - acc: 0.9629
Epoch 92/100
3289/3289 [==============================] - 0s 34us/sample - loss: 0.1232 - acc: 0.9623
Epoch 93/100
3289/3289 [==============================] - 0s 34us/sample - loss: 0.1230 - acc: 0.9632
Epoch 94/100
3289/3289 [==============================] - 0s 35us/sample - loss: 0.1229 - acc: 0.9632
Epoch 95/100
3289/3289 [==============================] - 0s 27us/sample - loss: 0.1225 - acc: 0.9629
Epoch 96/100
3289/3289 [==============================] - 0s 28us/sample - loss: 0.1227 - acc: 0.9632
Epoch 97/100
3289/3289 [==============================] - 0s 26us/sample - loss: 0.1223 - acc: 0.9629
Epoch 98/100
3289/3289 [==============================] - 0s 31us/sample - loss: 0.1225 - acc: 0.9626
Epoch 99/100
3289/3289 [==============================] - 0s 35us/sample - loss: 0.1223 - acc: 0.9629
Epoch 100/100
3289/3289 [==============================] - 0s 38us/sample - loss: 0.1222 - acc: 0.9623

In [72]:
df

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0,0.816895,0,1,1,1,0.801265,0.301260,1,0,0,1,0,0,0,1,0,0
2,0,0.975586,0,1,1,0,0.234512,0.254296,1,0,0,1,0,0,0,0,1,0
3,1,0.597168,0,0,1,1,0.536008,0.276060,1,0,0,1,0,0,0,0,0,1
4,1,0.963379,1,0,1,0,0.549349,0.156930,1,0,0,0,1,0,0,0,1,0
5,0,0.987793,0,0,1,1,0.605161,0.214204,1,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,1,0.157715,0,0,0,0,0.221402,0.095074,0,0,0,0,0,1,1,0,0,0
5106,1,0.987793,0,0,1,1,0.323516,0.340206,0,0,0,0,1,0,0,0,1,0
5107,1,0.426270,0,0,1,0,0.128658,0.232532,0,0,0,0,1,0,0,0,1,0
5108,0,0.621582,0,0,1,0,0.513203,0.175258,0,0,0,1,0,0,0,1,0,0
5109,1,0.536133,0,0,1,1,0.139230,0.182131,0,1,0,0,0,0,1,0,0,0

In [73]:
X.shape

(4909, 17)

In [74]:
y.shape

(4909,)

In [76]:
df.dtypes

gender                             object
age                               float64
hypertension                        int64
heart_disease                       int64
ever_married                        int64
Residence_type                      int64
avg_glucose_level                 float64
bmi                               float64
stroke                              int64
work_type_Govt_job                  uint8
work_type_Never_worked              uint8
work_type_Private                   uint8
work_type_Self-employed             uint8
work_type_children                  uint8
smoking_status_Unknown              uint8
smoking_status_formerly smoked      uint8
smoking_status_never smoked         uint8
smoking_status_smokes               uint8
dtype: object

In [109]:
df['gender'].replace({"Other":1},inplace=True)

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [123]:
model.evaluate(X_test,y_test)

1620/1620 [==============================] - 0s 39us/sample - loss: 0.1715 - acc: 0.9500

[0.17145247732139665, 0.95]

In [128]:
model.predict(X_test[:5])

array([[0.19343491],
       [0.02396736],
       [0.05698553],
       [0.00928881],
       [0.01002258]], dtype=float32)

In [130]:
y_test[1:10]

3709    0
964     0
2647    0
3262    0
1279    0
2113    0
3236    0
3983    0
3544    0
Name: stroke, dtype: int64